@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './medical-layout.css';
@import './medical-sidebar.css';
@import './medical-topbar.css';
@import './medical-dashboard.css';
@import './medical-cards.css';